/* Start of Fonts */
@font-face {
  font-family: "Noto Sans Arabic";
  src: url(../fonts/NotoSansArabic-Regular.ttf);
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans Arabic";
  src: url(../fonts/NotoSansArabic-SemiBold.ttf);
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
/* End of Fonts */

:root {
  --main-color: #35879d;
  --main-light: #34a9bb;
  --placeholder: #c0c0c0;
  --dark: #444;
  --light: #fafafa;
  --radius: 8px;
  --font-family: "Noto Sans Arabic", sans-serif;
  --gradient: linear-gradient(var(--main-color), var(--main-light));
  --smooth: 0.3s ease-in-out;

  --marquee-speed: 10s;
  --marquee-hover-offset: -50px;
  --marquee-hover-transition-speed: 0.7s;
  --marquee-fade-edges: 30%;
}
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--placeholder);
}
::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 0;
}
body {
  font-family: var(--font-family);
  color: var(--dark);
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
.particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  overflow: hidden;
}
.blur-up {
  filter: blur(5px);
  -webkit-transition: filter 0.4s, -webkit-filter 0.4s;
  -moz-transition: filter 0.4s, -webkit-filter 0.4s;
  transition: filter 0.4s, -webkit-filter 0.4s;
}
.blur-up.loaded,
.blur-up.swiper-lazy-loaded {
  filter: blur(0);
}
.smooth {
  --webkit-transition: var(--smooth);
  -moz-transition: var(--smooth);
  transition: var(--smooth);
}
.text-sm {
  font-size: 0.85rem;
}
.text-main {
  color: var(--main-color);
}
.text-place {
  color: var(--placeholder);
}
.text-dark {
  color: var(--dark) !important;
}
.bg-main {
  background-color: rgba(53, 135, 157, 0.7) !important;
}
.bg-main-light {
  background-color: rgba(52, 169, 187, 0.7) !important;
}
.bg-placeholder {
  background-color: rgba(192, 192, 192, 0.7) !important;
}
.bg-dark {
  background-color: var(--dark) !important;
}
textarea.form-control {
  min-height: 160px !important;
}
.form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: var(--main-color);
}
.py-large {
  padding-top: 80px;
  padding-bottom: 80px;
}
.btn.btn-main {
  background-color: var(--main-color);
  color: var(--light);
  font-weight: 600;
  height: 60px;
  position: relative;
  overflow: hidden;
  z-index: 0;
  white-space: nowrap;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.btn.btn-main::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--light);
  transform: scale(0, 1);
  transform-origin: top left;
  transition: var(--smooth);
}
.btn.btn-main:hover {
  color: var(--main-color);
}
.btn.btn-main:hover::before {
  transform: none;
}
.navbar {
  z-index: 10;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.87);
}
.navbar .nav-pills .nav-link {
  color: var(--dark);
}
.navbar .nav-pills .nav-link.active {
  color: var(--light);
  background-color: var(--main-color);
}
/* Start of Top Nav */
.top-nav .marque {
  overflow: hidden;
  display: flex;
  white-space: nowrap;
  gap: 30px;
}
.top-nav .marque > div {
  display: flex;
  white-space: nowrap;
  gap: 30px;
  animation: animate-marquee var(--marquee-speed) infinite linear;
  transition: var(--marquee-hover-transition-speed) margin-right ease-out;
  will-change: transform, margin-right;
}
.top-nav .marque:hover > div {
  animation-play-state: paused;
  margin-right: var(--marquee-hover-offset);
}
/* End of Top Nav */

/* Start of Footer */
.footer .links {
  display: flex;
  flex-direction: column;
  max-height: 100px;
  flex-wrap: wrap;
}
.footer .links a {
  display: flex;
  align-items: center;
  -webkit-transition: var(--smooth);
  -moz-transition: var(--smooth);
  transition: var(--smooth);
  overflow: hidden;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.footer .links a:hover {
  color: var(--main-color);
}
.footer .newsletter .form-control {
  background-color: transparent;
  direction: rtl;
  color: var(--light);
  font-size: 0.85rem;
  padding-left: 50px;
  padding-top: 2rem;
}
.footer .newsletter label {
  color: inherit !important;
}
.footer .newsletter label::after {
  background-color: transparent !important;
}
.footer .newsletter button[type="submit"] {
  position: absolute;
  left: 0.5rem;
  top: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--main-color);
  background-color: var(--light);
  border: none;
  transform: scaleX(-1) translateY(-50%);
}
/* End of Footer */

@-webkit-keyframes animate-marquee {
  0% {
    -webkit-transform: translateX(-100%) translateZ(0);
    transform: translateX(-100%) translateZ(0);
  }
  100% {
    -webkit-transform: translateX(0%) translateZ(0);
    transform: translateX(0%) translateZ(0);
  }
}
@keyframes animate-marquee {
  0% {
    -webkit-transform: translateX(-100%) translateZ(0);
    transform: translateX(-100%) translateZ(0);
  }
  100% {
    -webkit-transform: translateX(0%) translateZ(0);
    transform: translateX(0%) translateZ(0);
  }
}
@-webkit-keyframes animate-rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes animate-rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
